# Want to read more?

I love to explain and answer questions on programming problems.
I publish a new programming problem and its solution every Sunday.
Did I mention that I love to answer questions?

If you would like to get the latest problem + solution, <a onclick="show_spopup()">subscribe to the newsletter</a>
or <a href="{{ "/feed.xml" | prepend: site.baseurl }}">subscribe via RSS</a>.
You can also follow me on
<a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>,
<a href="https://github.com/{{ site.github_username }}">GitHub</a>,
and <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">LinkedIn</a>.
