<script type="text/javascript">
  var spopup_email_msg = "Enter your email here.";

  function show_spopup() {
    $("#spopup-email").val(spopup_email_msg);
    $("#spopup").show("slow");
  }

  function hide_spopup() {
    $("#spopup").hide("slow");
  }

  function clear_spopup_email() {
    if($("#spopup-email").val() == spopup_email_msg)
      $("#spopup-email").val("");
  }

  function subscribe() {
    hide_spopup();
    email = $("#spopup-email").val();
    callback = function(_jqXHR, success) {
      if(success == "success") {
        alert("Thank you for subscribing to the newsletter.");
      } else {
        alert("There was an error subscribing to the newsletter. Try again or subscribe via RSS.");
      }
    };
    $.ajax({ url: "https://correole.herokuapp.com/subscribers/" + email,
             type: "PUT",
             complete: callback });
  };
</script>

<div id="spopup">
  <div style="margin-top: 20px; margin-bottom: 20px;">
    <div style="display: inline-block; width: 20%;"></div>
    <div style="display: inline-block; width: 50%; text-align: center;">Subscribe to the newsletter.</div>
    <div style="display: inline-block; width: 20%; text-align: right;">
      <a onclick="hide_spopup()">Close</a>
    </div>
    <br/>
    <input id="spopup-email" type="text" onfocus="clear_spopup_email()" onkeypress="if(event.keyCode == 13) subscribe();"/>
    <br/>
    <input id="spopup-subscribe" type="button" value="Subscribe" onclick="subscribe();"/>
  </div>
</div>
